.sign-in{
    width: 50%;
    display: flex;
    flex-direction: column;
    .title{
        margin: 10px 20px;
    }
    .button{
        display: flex;
        margin-left: 2px;
        margin-right: 2px;
        justify-content: space-between;
    }
}

